{
	admin off
	persist_config off
	auto_https off
	servers {
		metrics
	}
}

:80 {
	root * /srv
	encode zstd gzip

	# Applicative health check endpoint required by once
	handle /up {
		respond "OK" 200
	}

	# SPA fallback: try the file, otherwise serve index.html
	try_files {path} /index.html
	file_server

	log {
		output stdout
		format console
	}
}
